# ========================================
# 1. Môi trường Python (Virtual Environments)
# ========================================
env/
venv/
.env

# ========================================
# 2. Bộ nhớ đệm của Python (Python Cache)
# ========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ========================================
# 3. Jupyter Notebook
# ========================================
.ipynb_checkpoints/

# ========================================
# 6. Các file rác/log của Spark & Hadoop
# ========================================
spark-warehouse/
metastore_db/
derby.log
logs/
*.log
*.crc
_SUCCESS

# ========================================
# 7. Cấu hình phần mềm lập trình (IDEs/Editors)
# ========================================
.vscode/
.idea/

# ========================================
# 8. File rác của Hệ điều hành (OS)
# ========================================
.DS_Store
Thumbs.db
desktop.ini